$path-to-ProximaNovaRegular:    "../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular";
$path-to-ProximaNovaSemiBold:   "../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemiBold";
$path-to-ProximaNovaBold:       "../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold";