// config:
@import "config";

// fonts
@import "_fonts/face-font-directive";

// themes:
@import "_themes/themes";

// helpers:
@import "_helpers/mixins";
@import "_helpers/flexbox";
@import "_helpers/keyframes";
@import "_helpers/animation";
@import "_helpers/media-queries";

// modules
@import "_modules/icon-obj";
@import "_modules/navbar-left";
@import "_modules/section_content-right";
@import "_modules/social-sharing-block";
@import "_modules/introduction-text-block";
@import "_modules/table-of-content";
@import "_modules/information-block";
@import "_modules/navbar-center";
@import "_modules/wiki-section";
@import "_modules/view-product-block";
@import "_modules/form-block";
@import "_modules/pagination-block";
@import "_modules/getting-started";

@import "_modules/section-introduction";
@import "_modules/company-logo";
@import "_modules/section-what-we-do";
@import "_modules/section-awards";
@import "_modules/section-genius-project";
@import "_modules/blue-block";


// base
@import "_base/base";





/*
  Styles
*********************************/

.landing-1 {
  .page-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 185px;
    background-color: #fff;
  }
}




