.the-form {
  @include flex-parent($fd: column);

  & > * + * {
    margin-top: 0;
  }


  // Input label
  .input-label {
    @include flex-parent(
      $fd: column,
      $ai: flex-start
    );
    font-size: 1rem;

    .receipt-number__label-text {}

    .input-field {
      @include border-radius(0);
      width: auto;
      height: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1rem;
      background-color: transparent;
      border: 1px solid #000;
    }


    // Input tip
    .input__tip {
      @include absolute(top 0 left 0);
      @include border-radius();
      display: block;
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
      color: #fff;
      text-align: center;
      background-color: #000;
    }

    // Submit button
    .btn-submit {
      @include flex-parent();
      @include border-radius(0);
      width: auto;
      height: auto;
      font-size: 1rem;
      color: #fff;
      background-color: #000;
    }


    // Checkbox
    .checkbox-label {
      @include align-self(flex-start);
      position: relative;

      .checkbox-text {}

      .checkbox-wrap {
        @include absolute(top 0 right 0);
      }

      // native checkbox
      .native-checkbox {
        @include absolute(top 0 right 0);
        opacity: 0;
      }

      // custom checkbox
      .custom-checkbox {
        @include flex-parent(
          $jc: center,
          $ai: center
        );
        width: 2rem;
        height: 1rem;
        border: 1px solid #000;

        &::before {
          @include transform(translate(0, -1px) rotate(45deg));
          display: none;
          content: '';
          width: 25%;
          height: 50%;
          border-right: .125rem solid #000;
          border-bottom: .125rem solid #000;
        }
      }

      .native-checkbox:checked + .custom-checkbox::before {
        display: block;
      }

      .checkbox-text-link {
        border-bottom: 1px solid #000;
      }
    }
  }


  // Changing labels' order
  @include media-query(desktop) {
    .label-name-1   { order: 0; }
    .label-name-1   { order: 1; }
    .label-name-1   { order: 2; }
    .label-name-1   { order: 4; }
    .label-name-1   { order: 5; }
  }


  // SR only
  .sr-only {
    @include absolute();
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}