@mixin mobile-only {
    @media only screen and (max-width: 600px) { @content; }
}


@mixin tablet {
    @media only screen and (min-width: 601px) { @content; }
}


@mixin tablet-only {
    @media only screen and (min-width: 601px) and (max-width: 992px) { @content; }
}


@mixin desktop {
    @media only screen and (min-width: 993px) { @content; }
}

/*
  Media query mixin
*/

@mixin media-query($breakpoint) {

    // S/M/L
    @if $breakpoint == "desktop" {
        @media only screen and (min-width: 993px) { @content; }
    }

    @if $breakpoint == "tablet" {
        @media only screen and (min-width: 601px) { @content; }
    }

    @if $breakpoint == "mobile" {
        @media only screen and (max-width: 600px) { @content; }
    }


    // mobile
    @if $breakpoint == "mobile-only" {
        @media only screen and (min-width: 320px) and (max-width: 480px) { @content; }
    }

    @if $breakpoint == "mobile-portrait" {
        @media only screen and (max-width: 320px) { @content; }
    }

    @if $breakpoint == "mobile-landscape" {
        @media only screen and (min-width: 321px) { @content; }
    }


    // tablet
    @if $breakpoint == "tablet-only" {
        @media only screen and (min-width: 768px) and (max-width: 1024px) { @content; }
    }

    @if $breakpoint == "tablet-portrait" {
        @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { @content; }
    }

    @if $breakpoint == "tablet-landscape" {
        @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { @content; }
    }


    // desktop large and xlarge

    @if $breakpoint == "desktop-large" {
        @media only screen and (min-width: 1600px) { @content; }
    }

    @if $breakpoint == "desktop-xlarge" {
        @media only screen and (min-width: 2560px) { @content; }
    }
}

/*
Examples:

@include media-query($yourScreenSize) {
    prop: value;
}
*/