@charset "utf-8";
*:focus {
    outline: 0;
    outline: none;
}
html {
  position: relative;
  min-height: 100%;
  background: #e4e4e4;
}
body {
  margin-bottom: 185px;
}
body.node-type-webform, body.page-white-paper
{
 margin-bottom: 84px;	
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 185px;
}
body.node-type-webform footer , body.page-white-paper footer
{
	height: 84px;
}
body {
  font-size: 13px;
  line-height: 1.4;
  font-family: "proxima-nova", sans-serif;
  color: #323232;
}
a {
  color: #008be6;
  text-decoration: none;
}
a:hover {
  color: #e81e51;
  text-decoration: underline;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}
header {
  height: 68px;
  background: white;
  padding: 13px 0 0 0 ;
  z-index: 12;
  position: relative;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.container-fluid {
  max-width: 1490px;
}
.header {
  /* Top dropdown menu */
}
.header-logo {
  display: block;
  margin: -2px 0 0 0;
}
.header-links li {
  position: relative;
}
.header-right {
  width: 44%;
}
.header-right .header-links-wrapper {
  float: right;
}
.header-right .header-links-wrapper ul li a {
  min-width: 104px;
}
.header-right .block-lang-dropdown {
  float: left;
}
.header-right .block-lang-dropdown ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 54px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.header-right .block-lang-dropdown ul a {
  color: #323232;
}
.header-form-wrapper {
  background: #e4e4e4;
  padding: 20px;
  border: 1px solid #cdcdcd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  z-index: 99;
  right: -10px;
  top: 100%;
  margin: 8px 0 0 0;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
}
.header-form-wrapper.__active {
  visibility: visible;
  opacity: 1;
}
.header-form-wrapper:before {
  content: "";
  position: absolute;
  right: 41px;
  top: -16px;
  width: 36px;
  height: 16px;
  background: url(../images/icons.png) no-repeat -40px -23px;
}
.header-form-wrapper .form-item,
.header-form-wrapper .form-action {
  display: table-cell;
}
.header-form-wrapper .form-text {
  margin-right: 5px;
}
.header-search {
  padding: 0 22px 0 10px;
  position: relative;
}
.header-search-open {
  display: none;
  background: url("../images/icons.png") no-repeat scroll 0 0px;
  height: 18px;
  padding: 0;
  width: 16px;
  margin: 11px 0 3px 0;
}
.header-search-open:hover {
  background: url("../images/icons.png") no-repeat scroll 0 -42px;
}
.header-search .form-text {
  max-width: 200px;
  width: auto;
}
.header-search:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  height: 35px;
  width: 1px;
  background: #e5e5e5;
  margin-top: -17px;
}
.header-search .form-actions .form-submit {
  background: url(../images/icons.png) no-repeat 0px 0px;
  border: none;
  width: 16px;
  height: 16px;
  padding: 0px;
  position: absolute;
  top: 11px;
  right: 34px;
}
.header-menu,
.header .lng-menu {
  margin-top: -5px;
}
.header-menu > ul,
.header .lng-menu > ul, .menu-block-14 ul.menu {
  list-style-type: none;
  margin: 0px;
  z-index: 6;
  padding: 0px;
}
.header-menu > ul > li > .menu,
.header .lng-menu > ul > li > .menu {
  left: 50% !important;
}
.header-menu > ul > li > .menu:after,
.header .lng-menu > ul > li > .menu:after {
  content: "";
  position: absolute;
  width: 37px;
  height: 17px;
  background: url(../images/icons.png) no-repeat 0px -24px;
  top: -15px;
  left: 50%;
  margin: 0 0 0 -19px;
}
.header-menu > ul > li > .menu > li:first-child:hover > a:before,
.header .lng-menu > ul > li > .menu > li:first-child:hover > a:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  margin: 0 0 0 -13px;
  width: 29px;
  height: 12px;
  z-index: 2;
	background: url(../images/icons.png) no-repeat -1px -66px;
}
.header-menu > ul.menu > li,
.header .lng-menu > ul.menu > li, .menu-block-14 ul.menu li{
  display: inline-block;
  position: relative;
  padding: 17px 6px 23px 6px;
}
.header-menu > ul.menu > li>a, .header-menu > ul.menu > li>span,
.header .lng-menu > ul.menu > li>a, .menu-block-14 ul.menu li a, .menu-block-14 ul.menu li span
{
	font-size: 15px;
	font-weight: 500;
}

.header-menu > ul.menu > li:hover > ul.menu,
.header .lng-menu > ul.menu > li:hover > ul.menu {
  opacity: 1;
  visibility: visible;
}
.header-menu > ul.menu > li > a,
.header .lng-menu > ul.menu > li > a, .menu-block-14 ul.menu li span, .menu-block-14 ul.menu li a {
  color: #323232;
}
.header-menu > ul.menu > li > a:hover,
.header .lng-menu > ul.menu > li > a:hover {
  color: #e81e51;
  text-decoration: none;
}
.header-menu > ul.menu > li.active-trail>a, .header-menu > ul.menu > li.active-trail>span,
.header .lng-menu > ul.menu > li.active-trail>a, .menu-block-14 ul.menu li.active-trail>a, .menu-block-14 ul.menu li.active-trail>span
{
	color: #EB1E52;
}
.header-menu > ul.menu > li .menu,
.header .lng-menu > ul.menu > li .menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  border: 1px solid #cdcdcd;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 6;
}
.header-menu > ul.menu > li .menu li,
.header .lng-menu > ul.menu > li .menu li {
  border-top: 1px solid #e5e5e5;
  position: relative;
}
.header-menu > ul.menu > li .menu li.expanded:after,
.header .lng-menu > ul.menu > li .menu li.expanded:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 5px;
  height: 8px;
  background: url(../images/icons.png) no-repeat -40px 0px;
  margin-top: -4px;
}
.header-menu > ul.menu > li .menu li:first-child,
.header .lng-menu > ul.menu > li .menu li:first-child {
  border-top: none;
}
.header-menu > ul.menu > li .menu li:first-child a,
.header .lng-menu > ul.menu > li .menu li:first-child a {
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.header-menu > ul.menu > li .menu li:last-child a,
.header .lng-menu > ul.menu > li .menu li:last-child a {
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.header-menu > ul.menu > li .menu li a,
.header .lng-menu > ul.menu > li .menu li a,
.header-menu > ul.menu > li .menu li span.nolink,
.header .lng-menu > ul.menu > li .menu li span.nolink {
  display: block;
  background: white;
  padding: 15px 35px 15px 15px;
  color: #323232;
  white-space: nowrap;
  cursor: pointer;
}
.header-menu > ul.menu > li .menu li:hover > a,
.header .lng-menu > ul.menu > li .menu li:hover > a,
.header-menu > ul.menu > li .menu li:hover > span.nolink,
.header .lng-menu > ul.menu > li .menu li:hover > span.nolink {
  color: #e81e51;
  background: #f1f1f1;
  text-decoration: none;
}
.header-menu > ul.menu > li .menu li:hover > .menu,
.header .lng-menu > ul.menu > li .menu li:hover > .menu {
  opacity: 1;
  visibility: visible;
}
.header-menu > ul.menu > li .menu .menu,
.header .lng-menu > ul.menu > li .menu .menu {
  left: 100%;
  top: 0px;
  margin-top: -1px;
  opacity: 0;
  visibility: hidden;
}
.header-menu > ul.menu > li .menu .menu li a,
.header .lng-menu > ul.menu > li .menu .menu li a {
  padding: 15px 20px 15px 20px;
  white-space: nowrap;
}
.header .lng-menu {
  margin-top: -7px !important;
}
.header .lng-menu > ul > li > .menu {
  left: 0px !important;
  margin-left: 0px !important;
}
.lng-menu ul li a {
  padding: 15px !important;
}
.lng-menu .__nopaddlr {
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
}
/*  Slider for front page*/
.slider-front {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.slider-front-wrapper {
    padding: 100px 0 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100% !important;
  min-height: 501px;
}
.slider-front-text {
  padding: 20px 30px 30px 30px;
  background: white;
  -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
	min-height: 256px;
}
.slider-front-title {
  font-size: 32px;
  font-weight: 300;
  padding: 0 0 20px 0;
  margin: 0 0 28px 0;
  border-bottom: 1px solid #e5e5e5;
}
.slider-front-desc p {
  margin: 0px;
}
.slider-front-url {
  padding: 21px 0 20px 0;
}
.slider-front-nav li {
  margin: 0 8px 0 0;
}
.slider-front-nav li a.active {
  background: #323232;
}
.slider-front-nav li a {
  width: 12px;
  height: 12px;
  background: #eaeaea;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider-front-nav li a:hover {
  background: #323232;
}
.portfolio {
  background: url(../images/stripes.png);
  padding: 35px 0 30px 0;
}
.portfolio h1,
.portfolio h2 {
  text-align: center;
}
.portfolio h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.portfolio h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 10px 0;
}
.portfolio-block {
  background: white;
  margin-bottom: 26px;
}
.portfolio-block-header {
  text-align: center;
  padding: 44px 0 59px 0;
}
.portfolio-block-header h3 {
  font-size: 24px;
  color: #003232;
  font-weight: 300;
  margin: 0 0 15px 0;
}
.portfolio-block-header p {
  font-weight: 300;
}
.portfolio-block-header-btn {
  padding: 14px 0 0 0;
}
.portfolio-block-text {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background: #f4f4f4;
  padding: 37px;
}
.portfolio-block-text ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.portfolio-block-text ul li {
  position: relative;
  padding: 0 0 0 28px;
  margin: 0 0 4px 0;
}
.portfolio-block-text ul li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../images/icons.png) no-repeat -20px 0;
  width: 15px;
  height: 14px;
}
.portfolio-block-footer {
  text-align: center;
  padding: 30px 0;
}
.portfolio-block-footer li {
  margin: 0 4px;
}
.portfolio .__titlerow {
  margin-bottom: 20px;
}
.frontent {
  background: #e4e4e4;
  padding: 54px 0 46px 0;
}
.frontent-news-item {
  background: white;
  border-right: 1px solid #e5e5e5;
}
.frontent-news-text {
  padding: 30px;
}
.frontent-news-text-date {
  margin: 0 0 10px 0;
}
.frontent-news-text-title {
  font-size: 24px;
  margin: 0 0 10px 0;
  line-height: 1.2;
}
.frontent-news-text-desc {
  margin: 0 0 10px 0;
}
.frontent-news-image img {
  width: 100%;
  height: auto;
}
.customers {
  background: #e4e4e4;
  padding: 10px 0 46px 0;
}
.customers-wrapper {
  background: white;
}
.customers-wrapper-text {
  display: none;
}
.customers-wrapper-text.__active {
  display: block;
}
.customers-wrapper-text-wrap {
  padding: 31px 28px 20px 28px;
}
.customers-wrapper-text-wrap h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.customers-wrapper-text-bottom strong {
  display: block;
}
.customers-wrapper-text-img img {
  display: inline-block;
  width: 100%;
}
.customers-wrapper-text-img
{
	text-align: right;
}
.customers-wrapper-title {
  border-bottom: 1px solid #e5e5e5;
}
.customers-wrapper-title-tab {
  text-align: center;
  height: 108px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
  position: relative;
}
.customers-wrapper-title-tab img {
  max-width: 130px;
  max-height: 60px;
  vertical-align: middle;
}
.customers-wrapper-title-tab:last-child {
  border-right: none;
}
.customers-wrapper-title-tab:hover,
.customers-wrapper-title-tab.__active {
  -webkit-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.07);
}
.customers-wrapper-title-tab:hover:after,
.customers-wrapper-title-tab.__active:after,
.customers-wrapper-title-tab:hover.__active:after,
.customers-wrapper-title-tab.__active.__active:after {
  content: "";
  width: 30px;
  height: 13px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -15px;
  background: url(../images/icons.png) no-repeat -65px 0px;
  z-index: 3;
}
.customers-wrapper-title-tab .customers-color, .webformpage-logos img.customers-color {
  display: none;
}
.customers-wrapper-title-tab:hover .customers-color,
.customers-wrapper-title-tab.__active .customers-color, .webformpage-logos .col-sm-2:hover img.customers-color {
  display: inline-block;
}
.customers-wrapper-title-tab:hover .customers-bw,
.customers-wrapper-title-tab.__active .customers-bw, .webformpage-logos .col-sm-2:hover img.customers-bw {
  display: none;
}
.webformpage-logos
{
	padding: 30px 0 0 0;
	margin: 30px 0 0 0;
	border-top: 1px solid #cdcdcd;
	text-align: center;
}
.webformpage-logos img
{
max-height: 60px;
    max-width: 130px;
	display: inline-block;
	vertical-align: middle;
}
.webformpage-logos .block-content .col-sm-2
{
	height: 58px;
}
.awards {
  background: #e4e4e4;
  padding: 10px 0 46px 0;
}
.awards-wrapper {
  background: white;
}
.awards-wrapper-item {
  background: white;
  border-right: 1px solid #e5e5e5;
}
.awards-wrapper-title {
  height: 90px;
  padding: 35px 0 0 0 ;
  text-align: center;
  background: #f4f4f4;
}
.awards-wrapper-img {
  text-align: center;
  padding: 30px 0;
  height: 160px;
  position: relative;
}
.awards-wrapper-img img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.stext {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 35px 0 22px 0;
}
.stext-slider {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.stext-slider li
{
	width: 100% !important;
}
.fixed-top
{
	padding: 22px 0;
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	visibility: hidden;
	background: white;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
body.bodyfix
{
	overflow: hidden;
}
.fixed-top.fixed
{
	opacity: 1;
	visibility: visible;
	z-index: 110;
}
.fixed-top.megafixed
{
		opacity: 1;
	visibility: visible;
	z-index: 110;
	height: 100%;
	overflow: auto;
}
header.fixed
{
		position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}
.fixed-top .form-item, .fixed-top .form-actions
{
	margin: 0px;
	position: relative;
}
.fixed-top .form-item .form-text{
	width: 100%;
	padding-right: 100px;
}
.fixed-top .form-item .form-submit{
	position: absolute;
	top: 0px;
	right: 0px;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.fixed-top .container-fluid
{
	position: relative;
}
.fixed-top-logo
{
	width: 51px;
	height: 49px;
	background: url(../images/logo-fixed.png) no-repeat;
	position: absolute;
	display: block;
	top: -10px;
	left: 15px;
}
.stext-slider h5 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 20px 0;
}
.footer-top {
  background: #43484c;
  padding: 24px 0 30px 0;
}
.footer-top ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.footer-top ul.menu li {
  margin: 0 0 2px 0;
}
.footer-top ul.menu li a {
  color: #8e9194;
}
.footer-top ul.menu li a:hover {
  color: white;
  text-decoration: none;
}
.footer-top-newsletter {
  padding: 6px 0 0 0;
}
.footer-top-newsletter .form-item,
.footer-top-newsletter .form-submit {
  margin: 0 0 0 2px;
}
.simplenews-subscribe>div
{
	display: table;
	width: 100%;
}
.div-td
{
	display: table-cell;
}
.div-td:first-child
{
	width: 85%;
	padding: 0 3px 0 0;
}
.div-td .form-text
{
	width: 100%;
}

.footer-bottom {
  background: #292c2e;
  padding: 20px 0;
  color: #979797;
  line-height: 32px;
}
.socials ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: right;
}
.socials ul li {
  display: inline-block;
}
.socials ul li a {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../images/socials.png);
   -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.socials ul li a:hover
{
	opacity: .8;
}
.socials ul li a.soc1 {
  background-position: 0px 0px;
}
.socials ul li a.soc2 {
  background-position: -37px 0px;
}
.socials ul li a.soc3 {
  background-position: -74px 0px;
}
.socials ul li a.soc4 {
  background-position: -111px 0px;
}
.socials ul li a.soc5 {
  background-position: -148px 0px;
}
.__shadowblock {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.btn-full, a.btn-full,
.form-submit {
  height: 40px;
  line-height: 40px;
  color: white;
  display: inline-block;
  background: #008be6;
  border: 1px solid #008be6;
  padding: 0 15px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.btn-full:hover,
.form-submit:hover{
  color: white;
  text-decoration: none;
  background: #126fb8;
  border: 1px solid #126fb8;
}
.btn-full.__bigbtn,
.form-submit.__bigbtn {
  display: block;
  height: 50px;
  line-height: 50px;
}
.btn-full.__orange,
.form-submit.__orange {
  background: #e81e51;
  border: 1px solid #e81e51;
}
.btn-full.__orange:hover,
.form-submit.__orange:hover {
  color: white;
  text-decoration: none;
  background: #b2163e;
}
.btn-stroke {
  height: 40px;
  line-height: 40px;
  color: #008be6;
  display: inline-block;
  background: white;
  border: 1px solid #008be6;
  padding: 0 15px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.btn-stroke:hover {
  color: white;
  text-decoration: none;
  background: #126fb8;
}
.list-unstyled {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.list-unstyled li {
  display: inline-block;
}
.block-title {
  margin: 0 0 20px 0;
}
.block-title span {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}
p.block-title
{
	margin: 0px;
}
.banner-top-text p
{
	margin: 3px 0 5px 0;
}
.block-title em {
  font-style: normal;
}
.block-title-link {
  padding: 0 0 0 19px;
  margin: 0 0 0 19px;
  border-left: 1px solid #cdcdcd;
  display: inline-block;
  vertical-align: middle;
  line-height: 26px;
}
.form-text {
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 10px;
  height: 40px;
  box-sizing: border-box;
}
.form-text:focus
{
border: 1px solid #898989;	
}
.form-textarea
{
	 border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
}
.tabs.primary {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0px;
}
.tabs.primary li {
  display: inline-block;
}
.tabs.primary li a {
  display: block;
  padding: 4px 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #008be6;
  color: white;
}
.tabs.primary li a:hover,
.tabs.primary li a.active {
  color: white;
  background-color: #e81e51;
}
h1 {
  font-size: 38px;
  font-weight: 500;
  margin: 0 0 12px 0;
}
.top-section-wrapper {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 90px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 90px 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid #cccccc;
  position: relative;

}
.top-section-wrapper .container-fluid
{
	  background-position: right top;
  background-repeat: no-repeat;
  min-height: 271px;
}
.top-section-text {
  font-size: 13px;
  padding: 0 40px 0 0;
  position: absolute;
  top: 57px;
}
.top-section-img {
  max-width: 100%;
  height: auto;
}
.top-section2 {
  position: relative;
}
.top-section2-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #cccccc;
  min-height: 260px;
  position: relative;
}
.top-section2-wrapper h1 {
  color: white;
  font-weight: 600;
}
.top-section2-wrapper .top-section-text {
  top: 120px;
}
.top-section3-wrapper {
  min-height: 179px;
  background: #e4e4e4;
}
.page-search .top-section3-wrapper
{
	min-height: 25px;
}
.top-section3-wrapper .top-section-text {
  position: static;
  margin: 39px 0 0 0;
  padding-top: 0px !important;
}
.top-section3-wrapper .top-section-text h1 {
  color: #323232;
  font-size: 40px;
}
.top-section-text-title
{
	margin-bottom: 14px;
}
.icon-section {
  display: inline-block;
}
.icon-list {
  width: 25px;
  height: 28px;
  background: url(../images/icon-list.png) no-repeat center center;
}
.icon-search, .page-sitemap .icon-list {
  width: 25px;
  height: 25px;
  background: url(../images/icon-search.png) no-repeat center center;
}
.articleItem .field-name-field-file img
{
	display: none;
}
.regLink,
.articleItem .field-name-field-link2 a, .articleItem .field-name-field-file a, a.readmore {
  padding: 10px 30px 10px 14px;
  display: inline-block;
  color: #008be6;
  border: 1px solid #008be6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.regLink:after,
.articleItem .field-name-field-link2 a:after,.articleItem  .field-name-field-file a:after, a.readmore:after  {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  background: url(../images/icons.png) no-repeat -102px 0px;
  width: 10px;
  height: 12px;
  margin-top: -6px;
}
.regLink:hover,
.articleItem .field-name-field-link2 a:hover, .articleItem .field-name-field-file a:hover, a.readmore:hover {
  color: white;
  background: #006eba;
  text-decoration: none;
}
.regLink:hover:after,
.articleItem .field-name-field-link2 a:hover:after, .articleItem .field-name-field-file a:hover:after, a.readmore:hover:after  {
  background: url(../images/icons.png) no-repeat -102px -27px;
}
.withrightFile .field-type-image {
  text-align: right;
}
.articleItem h3 {
  margin: 0 0 20px 0;
}
.listpage .mcolumn {
  margin-top: -83px;
  padding: 10px 0px;
}
.listpage .mcolumn.__nolrpadding
{
	padding-left: 0px;
	padding-right: 0px;
}
.listpage .mcolumn.__notopmargin,  .mcolumn.__notopmargin
{
	margin-top: 0px;
}
.__autoheight
{
	height: auto !important;
}
.listpage .mcolumn .views-row {
  border-bottom: 1px solid #e5e5e5;
    padding: 20px 30px;
}
.mcolumn  .textwrapper
{
	 padding: 0px 30px;
}
.resp-img img
{
	max-width: 100%;
	height: auto;	
}
.listpage .mcolumn h3 {
  font-size: 24px;
  font-weight: normal;
}
.articleText {
  margin: 0 0 24px 0;
}
.maincontent {
  background: #e4e4e4;
  padding: 0 0 60px 0;
}
.maincontent.webformpage
{
	padding: 51px 0 49px 0;
}
.maincontent .block {
  background: #ffffff;
}
.maincontent.webformpage .block {
  background: transparent;
}
.maincontent .block-title {
  background: #f3f3f3;
  font-size: 17px;
  font-weight: 500;
  padding: 16px 30px 14px 19px;
  margin: 0px;
}
.maincontent .block-content p {
  margin: 0px;
}
.maincontent .block-action-text {
  padding: 20px 19px;
}
.maincontent .block .trial-button {
  margin: 10px 0 0 0;
}
.rightcol {
  margin-top: -53px;
}
.rightcol.__mtop84 {
  margin-top: -84px;
}
.maincontent .block-content .field-name-body p
{
	margin: 15px 0;
}
.maincontent .field-name-body li
{
	margin-left: 0px !important;	
}
.page-taxonomy .rightcol{
  margin-top: -83px;
}
 .node-type-textpage .rightcol 
 {
 	  margin-top: -54px;
 }
 .textpageBody
 {
 	padding: 20px 0;
 }
.page-taxonomy .icon-section, .node-type-textpage  .icon-section
{
	display: none;
}
.rightcol .block {
  margin-bottom: 30px;
}
ul.steps, .rightcol ul.menu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.steps li, .rightcol ul.menu li {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
ul.steps li:last-child, .rightcol ul.menu li:last-child{
  border-bottom: none;
}
ul.steps li a, .rightcol ul.menu li a {
  padding: 18px 52px 15px 20px;
  color: #000032;
  display: block;
  position: relative;
}
ul.steps li a:hover, .rightcol ul.menu li a:hover  {
  color: #e81e51;
}
.rightcol .menu-block-wrapper li a:after
{
	  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background: url(../images/icons.png) no-repeat -102px -2px;
  width: 10px;
  height: 9px;
  margin: -4px 0 0 0;
}
.rightcol .menu-block-wrapper li a:hover:after
{
	  background: url(../images/icons.png) no-repeat -120px -2px;
}
ul.steps li.steps_1 a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background: url(../images/icons-steps.png) no-repeat 0px 0px;
  width: 15px;
  height: 15px;
  margin: -7px 0 0 0;
}
ul.steps li.steps_1 a:hover:after {
  background: url(../images/icons-steps.png) no-repeat -23px 0px;
}
ul.steps li.steps_2 a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background: url(../images/icons-steps.png) no-repeat 0px -21px;
  width: 15px;
  height: 19px;
  margin: -9px 0 0 0;
}
ul.steps li.steps_2 a:hover:after {
  background: url(../images/icons-steps.png) no-repeat -23px -21px;
}
ul.steps li.steps_3 a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background: url(../images/icons-steps.png) no-repeat 0px -47px;
  width: 16px;
  height: 15px;
  margin: -7px 0 0 0;
}
ul.steps li.steps_3 a:hover:after {
  background: url(../images/icons-steps.png) no-repeat -23px -47px;
}
.mcolumn {
  background: white;
  margin-top: -53px;
}
.mcolumn .greyarrow {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 30px 20px 30px;
}
.mcolumn .greyarrow p {
  margin: 0 0 20px 0;
}
.mcolumn .greyarrow-title, .node h2, .node h3,.field-name-field-customer-list .field-label, .field-name-field-customer-success-stories .field-label, .field-name-field-customer-testimonials .field-label {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 20px 0;
}
.leftcol {
  margin-top: -202px;
}
.leftcol.__withformbnr
{
	margin-top: -255px;
}
.leftcol.__smmargin {
  margin-top: -127px;
}
.leftcol-menu ul,
.leftcol .menu-block-wrapper ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.leftcol-menu > ul > li > a,
.leftcol .menu-block-wrapper > ul > li > a,
.leftcol-menu > ul > li > span.nolink,
.leftcol .menu-block-wrapper > ul > li > span.nolink {
  display: block;
  color: #323232;
  padding: 11px 14px;
  position: relative;
  border-bottom: 1px solid #d3d3d3;
}
.leftcol-menu > ul > li > a:hover,
.leftcol .menu-block-wrapper > ul > li > a:hover,
.leftcol-menu > ul > li > span.nolink:hover,
.leftcol .menu-block-wrapper > ul > li > span.nolink:hover,
.leftcol-menu > ul > li > a.active,
.leftcol .menu-block-wrapper > ul > li > a.active,
.leftcol-menu > ul > li > span.nolink.active,
.leftcol .menu-block-wrapper > ul > li > span.nolink.active,
.leftcol .menu-block-wrapper > ul > li.active-trail > a,
.leftcol .menu-block-wrapper > ul > li.active-trail > span.nolink,
.leftcol .menu-block-wrapper > ul > li.__active > a,
.leftcol .menu-block-wrapper > ul > li.__active > span.nolink {
  background: #f1f1f1;
  text-decoration: none;
  color: #ee174f;
}
.leftcol .menu-block-wrapper > ul > li.expanded > span
{
	cursor: pointer;
}
.leftcol-menu > ul > li.expanded > a:after,
.leftcol .menu-block-wrapper > ul > li.expanded > a:after,
.leftcol .menu-block-wrapper > ul > li.expanded > span:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 5px;
  top: 50%;
  margin: -4px 0 0 0;
  right: 15px;
  background: url(../images/icons.png) -83px -34px;
}
.leftcol-menu > ul > li.expanded.active.__active > a:after, .leftcol .menu-block-wrapper > ul > li.expanded.__active > a:after
, .leftcol .menu-block-wrapper > ul > li.expanded.active-trail > a:after,
.leftcol .menu-block-wrapper > ul > li.expanded.active-trail > span:after, 
.leftcol-menu > ul > li.expanded.active.__active > span:after, .leftcol .menu-block-wrapper > ul > li.expanded.__active > span:after
{
	 -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.leftcol-menu > ul > li ul,
.leftcol .menu-block-wrapper > ul > li ul {
  padding: 4px 0;
  border-bottom: 1px solid #d3d3d3;
}
.leftcol .menu-block-wrapper > ul > li.active-trail ul,
.leftcol .menu-block-wrapper > ul > li.__active ul
{
	background: #f1f1f1;
}
.leftcol-menu > ul > li ul li a,
.leftcol .menu-block-wrapper > ul > li ul li a,
.leftcol-menu > ul > li ul li span.nolink,
.leftcol .menu-block-wrapper > ul > li ul li span.nolink {
  display: block;
  color: #323232;
  padding: 7px 10px 7px 25px;
  position: relative;
}
.leftcol .menu-block-wrapper > ul > li ul li ul li a
{
	padding-left: 50px; 
}
.leftcol .menu-block-wrapper > ul > li ul li a:hover,
.leftcol .menu-block-wrapper > ul > li ul li span.nolink:hover
{
	color: #ee174f;
	text-decoration: underline;
} 
.leftcol .menu-block-wrapper > ul > li ul li a.active
{
	color: #ee174f;
}
.__listing ul,
.__listing ol,
.field-name-field-text-for-blocks ul, .formwrapperinside-left ul, .field-name-body ul, .greyarrow ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.__listing ul li,
.__listing ol li,
.field-name-field-text-for-blocks ul li, .formwrapperinside-left ul li, .field-name-body ul li, .greyarrow ul li {
  position: relative;
  padding: 0 0 0 28px;
	margin: 0 0 12px 0;

}
 .formwrapperinside-left ul li
 {
 	margin: 0 0 12px 0;
 }
.__listing ul li:after,
.__listing ol li:after,
.field-name-field-text-for-blocks ul li:after, .formwrapperinside-left ul li:after, .field-name-body ul li:after, .greyarrow ul li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../images/icons.png) no-repeat -20px 0;
  width: 15px;
  height: 14px;
}
.formwrapperinside-left ul
{
	margin: 28px 0 40px 0;
}
.tablet-menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.tablet-menu ul li {
  display: inline-block;
  position: relative;
}
.tablet-menu ul li a,
.tablet-menu ul li span.nolink {
  display: block;
  color: #323232;
  padding: 10px 12px;
  text-decoration: none;
  cursor: pointer;
}
.tablet-menu ul li a:hover,
.tablet-menu ul li span.nolink:hover,
.tablet-menu ul li a.active,
.tablet-menu ul li span.nolink.active {
  color: #e81e51;
  background: #f9f9f9;
}
.tablet-menu ul li:hover {
  background: #f9f9f9;
}
.tablet-menu ul li:hover > a,
.tablet-menu ul li:hover > span.nolink {
  color: #e81e51;
}

.tablet-menu ul ul {
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 0px;
  position: absolute;
  z-index: 800;
  background: white;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  min-width: 200px;
}
.tablet-menu ul li:hover ul.menu {
  opacity: 1;
  visibility: visible;
  display: block !important;
}
.tablet-menu ul ul li {
  display: block;
}
.tablet-menu ul ul li a {
  font-size: 13px;
}
.tablet-menu ul ul li a:hover {
  color: #323232;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.field-name-field-screenshots .field-item {
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 30px;
}
.field-name-field-screenshots .field-item img {
  max-width: 100%;
  height: auto;
}
.field-name-field-screenshots .field-item blockquote {
  margin: 15px 0;
}
.why_block
{
	  min-height: 328px;
	  overflow: hidden;
}
.node-type-pricing3 .why_block
{
	min-height: 273px;
}
.banner-top-text
{
	margin-top: 69px;

}
.top-section-wrapper .container-fluid
{
	background-size: auto 100% !important;
}
.node-type-feature-detail .top-section-wrapper .container-fluid
{
	background-size: auto auto !important;
}
.imagep
{
	text-align: center;
}
.fileitem iframe
{
	width: 100% !important;
}
.maincontent .block-content .field-name-field-text-for-blocks p
{
	margin: 0 0 15px 0;
}
.search-results 
{
	padding: 0px;
	margin: 0px;
}
.search-results li
{
	padding:  35px 30px 35px 30px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0px;
}
.search-results li h3
{
	margin: 0 0 3px 0;
}
.item-list ul.pager
{
	margin: 30px 0 20px 0;
	padding: 0px;
}
.item-list ul.pager li
{
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	min-width: 38px;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 15px;
	margin: 0 4px;
	display: inline-block;
}
.item-list ul.pager li a
{
	color: #323232;
	text-decoration: none;
}
.item-list ul.pager li.pager-current
{
	border: 1px solid #323232;
}
.page-search .region-content .block-content>p, .page-search .region-content .block-content h2
{
  font-size: 24px;
  padding: 13px 30px 20px 30px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0px;
  font-weight: 400;
}
.page-search .region-content  .block-content>p strong
{
	color: #008be6;
	font-weight: normal;
}
.features-block-image
{
	width: 32px;
	height: 31px;
	background-repeat: no-repeat;
	background-position: top center;
	position: absolute;
	top: 50%;
	right: 21px;
	margin-top: -16px;
}
.steps li:hover .features-block-image
{
	background-position: 0px -31px;
}
.view-testimonialsblock .views-row 
{
	padding: 17px 26px 15px 26px;
	border-bottom: 1px solid #e5e5e5;
}
.view-testimonialsblock .views-row.views-row-last
{
	border-bottom: none;
}
.view-testimonialsblock .node-customer-testimonial
{
	padding: 10px 0;
}
.view-testimonialsblock .node-customer-testimonial img
{
	max-width: 100%;
	height: auto;
}
.view-testimonialsblock .field-name-body
{
	font-style: italic;
}
.view-testimonialsblock .field-name-field-custmomer-name
{
	font-weight: 500;
}
.formwrapperinside
{
	background: #f4f4f4;
	padding: 0px 74px 0 74px;
}
.formwrapperinside .form-actions.form-wrapper
{
	text-align: center;
	background: #ffffff;
	padding: 30px 0;
	border-top: 1px solid #d8d8d8;
	margin: 35px -74px 0 -74px;
}
.formwrapperinside  .form-text, .formwrapperinside  .form-select, .formwrapperinside  textarea
{
	width: 100%;
	box-sizing: border-box;
}
.formwrapperinside-left blockquote
{
	margin: 20px 0;
	font-size: 15px;
	font-style: italic;
	position: relative;
}
.formwrapperinside-left blockquote p
{
	display: inline-block;
	margin: 0px;
	text-indent: 40px;
}
.formwrapperinside-left blockquote:before
{
	content: "\"";
	color: #008be6;
	font-size: 80px;
	display: inline-block;
	position: absolute;
	top: -19px;
	left: 0px;
}
.formwrapperinside-left blockquote:after
{
	 bottom: -16px;
    color: #008be6;
    content: "\"";
    display: inline-block;
    font-size: 80px;
    position: absolute;
    right: 0;
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.formwrapperinside-left  hr
{
	background: #cdcdcd;
	height: 1px;
	border: none;
	display: block;
	margin: 15px 0;
}
.formwrapperinside-left 
{
   padding: 0 44px 0 0;
}
.formwrapperinside-title
{
	background: white;
	border-bottom: 1px solid #d8d8d8;
	text-align: center;
	padding: 31px 0 34px 0;
	margin: 0 -74px 20px -74px;
}
.formwrapperinside .form-item, .formwrapperinside  .form-actions
{
	margin: 22px 0;
}
.formwrapperinside .form-item .form-item
{
	margin: 5px 0;
}
.formwrapperinside-left h3
{
	font-size: 36px;
	font-weight: 300;
	margin: 21px 0 16px 0;
}
.formwrapperinside  form
{
	padding: 0px;
}
.formwrapperinside-title h4
{
	font-size: 24px;
	font-weight: 500;
	margin: 0 0 7px 0;
}
.formwrapperinside-title h5
{
	font-size: 15px;
	font-weight: 400;
	margin: 0px;
}
ul.site-map-menu
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.site-map-menus
{
	  padding: 19px 30px;
}
.site-map-menus .content>ul.site-map-menu>li.expanded
{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}
.site-map-menus .content>ul.site-map-menu>li.expanded>a, .site-map-menus .content>ul.site-map-menu>li.expanded>span
{
	color: #323232;
	font-size: 32px;
	font-weight: 400;
	display: block;
	margin: 0 0 10px 0;
}
.site-map-menus .content>ul.site-map-menu ul.site-map-menu>li.expanded>a, .site-map-menus .content>ul.site-map-menu ul.site-map-menu>li.expanded>span
{
	color: #323232;
	font-size: 15px;
	font-weight: 500;
	display: block;
	margin: 20px 0 10px 0;
}
.site-map-menus .content>ul.site-map-menu ul.site-map-menu a, .site-map-menus .content>ul.site-map-menu ul.site-map-menu span
{
	color: #008be6;
	font-weight: 500;
}
.site-map-menus .content>ul.site-map-menu ul.site-map-menu
{
	margin: 8px 0 20px 0px;
}
.site-map-menus .content>ul.site-map-menu ul.site-map-menu ul.site-map-menu
{
	margin-left: 18px;
}
strong.testimon-title
{
	display: block;
	margin: 6px 0 8px 0;
}
strong.testimon-title a
{
	color:#000032;
}
.region-content .block-system
{
	overflow: hidden;
}
.imagep img
{
	max-width: 100%;
	height: auto;
}
.listCust h3, .bl-title h3
{
	font-size: 24px;	
	font-weight: normal;
	margin: 0 0 20px 0;
}
.listCust ol, .field-name-field-clist-item ol
{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.listCust ol li, .field-name-field-clist-item ol li
{
	display: inline-block;
	width: 49%;
	margin: 0 0 6px 0;
	padding: 0 0 0 1% ;
	position: relative;
}

.field-name-field-clist-item ol li
{
	width: 32%;
}
.listCust ol li:before, .field-name-field-clist-item ol li:before
{
	content: "";
	background: url(../images/point.png) no-repeat center center;
	position: absolute;
	top: 7px;
	left: 0px;
	width: 5px;
	height: 5px;
}
.logobcblock  .field-items .field-collection-view
{
	border-bottom: none;
}
.logobcblock  .field-name-field-logotypes>.field-items>.field-item
{
	width: 25%;
	text-align: center;
	float: left;
}
.logobcblock  .field-items .field-item .field-name-field-image, .logobcblock  .field-items .field-item .field-collection-item-field-logotypes:hover .field-name-field-greayscale-image
{
	display: none;
}
.logobcblock  .field-items .field-item .field-collection-item-field-logotypes:hover .field-name-field-image
{
	display: inline-block;
}
.view-listpage .form-actions
{
	display: none;
}
body .field-collection-container
{
	border-bottom: none;
}
.field-name-field-title .block-title-link
{
	font-size: 13px;
}
body div.messages
{
	margin-right: 30px;
	margin-left: 30px;
}
.mobile-menu
{
	padding: 12px 40px 12px 40px;
	height: 64px;

}
.mobile-menu .block-menu-block
{
	position: relative;	
}
.mobile-menu .block-content
{
	position: absolute;
	right: -25px;
}
.mobile-menu .block-title
{
	float:left;
	margin: 0px;
	  height: 40px;
  line-height: 40px;
}
.mobile-menu .block-title a
{
		padding: 10px 0 0 0;
		color: black;
}
.field-name-body img
{
	max-width: 100% !important;
	height: auto !important;
}
.hidden.mm-opened
{
	display: block !important;
}
.mobile-menu .block-content
{
	float: right;
}
.mobile-menu .block-content   .menu-block-wrapper>ul>ul
{
	display: none;
}
.mobile-menu .block-content   .menu-block-wrapper ul ul
{
	list-style-type: none;
	padding: 0 0;
	margin: 0px;
}
.mobile-menu .block-content   .menu-block-wrapper ul ul a
{
	padding-left: 24px;
}
.mobile-menu .block-content  .menu-block-wrapper>ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	background: white;
	z-index: 4;
	-webkit-box-shadow:inset 0 0 0 1px #cdcdcd;
	box-shadow:inset 0 0 0 1px #cdcdcd;
}
.mobile-menu .block-content .menu-block-wrapper>ul>li:first-child:after
{
		background: url(../images/select.png) no-repeat;
		width: 7px;
		height: 14px;
		opacity: .6;
		position: absolute;
		top: 13px;
		right: 10px;
		content: "";
}
.mobile-menu .block-content .menu-block-wrapper>ul>li
{

	display: none;
	padding: 1px;
	position: relative;
}
.mobile-menu .block-content ul li a
{
	display: block;
	color: #323232;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	  padding: 8px 36px 7px 14px;
		text-decoration: none;
}
.mobile-menu .block-content ul li a:hover
{
		border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #f1f1f1;
	color: #ed174f;	
}
.mobile-menu .block-content .menu-block-wrapper>ul>li:last-child a
{
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
.mobile-menu .block-content .menu-block-wrapper>ul>li:first-child
{
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #cdcdcd;
	padding: 0px;
}
.mobile-menu .block-content .menu-block-wrapper>ul>li:first-child>ul.menu
{
	display: none;
}
.mobile-menu .block-content .menu-block-wrapper>ul>li:first-child a:hover
{
		border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background: transparent;
	color: #323232;	
}
.cp_testimon
{
	padding: 20px 30px;
}
.cp_testimon-wrapper
{
	border: 1px solid #e5e5e5;
}
.customers-wrapper-title  .col-sm-3, .rightbord
{
	border-right: 1px solid #e5e5e5;
}
.cp_testimon-wrapper .customers-wrapper-title-tab
{
	border-right: none;
		border-bottom: 1px solid #e5e5e5;
		position: relative;
}
.cp_testimon-wrapper  .customers-wrapper-title-tab:hover:after, .cp_testimon-wrapper  .customers-wrapper-title-tab.__active:after
{
	left: auto;
	right: -21px;
	top: 50%;
	margin: -7px 0 0 0;
	 -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg); 
    transform: rotate(270deg);
} 
.cp_testimon-wrapper .customers-wrapper-title-tab img
{
	max-width: 200px;
	margin-top: 32px;
}
.cp_testimon-wrapper .customers-wrapper-title-tab:last-child
{
		border-bottom: none;
}
.cp_testimon-wrapper  .customers-wrapper-text
{
	padding: 25px;
}
.maincontent.pricepage
{
  
   padding: 0px;
}
.maincontent.pricepage .block
{
	background: transparent;
}
.pricing-item-top
{
	background: #ffffff;
	padding: 30px;
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
}
.price-bottom-column
{
	padding: 36px;
	background: #f4f4f4;
}
.pricing-item-top-wrapper
{
	min-height: 96px;
	padding-bottom: 20px;
}
.pricing-item-top h2
{
	font-size: 24px;
	font-weight: 500;
	padding: 2px 0 7px 0;
	margin: 0px;
}
.select_box
{
	border-top: 1px solid #d8d8d8;
	border-bottom: 1px solid #d8d8d8;
	padding: 24px 0 41px 0;
   margin: 0 0 29px 0;
}
.node-success-story
{
	padding: 20px;
}
.price-gray-bg-arrows
{
	  background: url(../images/stripes.png);
}
h1.price-title
{
	margin: 0px;
	font-weight: 500;
	padding: 49px 0 1px 0;
	text-align: center;
}
.price-title-sub
{
	font-size: 15px;
	font-weight: 500;
	padding: 0 0 55px 0;
	text-align: center;
}
.inline-form
{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}
.price-under-text
{
	font-size: 15px;
	margin: -3px 0 15px 0;
}
.price-page-value, .price-page-value1
{
	font-weight: 500;
	font-size: 48px;
}
.price-page-value1.euro-price:before
{
    content: "\20AC";
    position: relative;

}
.price-page-value1.usd-price:before
{
    content: "$";
    position: relative;

}
.price-page-value1 em
{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	position: relative;
	top: -18px;
}
.pricing-item-top .jq-selectbox
{
	min-width: 110px;
	text-align:left;
}
.node-pricing, .node-pricing .container 
{
	position: relative;
}
.node-pricing
{
	padding-bottom: 50px;
}
.node-pricing .__shadowblock
{
	margin-bottom: 10px;
}
.pricing-item-center
{
	font-size: 15px;
	margin: 47px 0 0 0;
}
.price-gray-bg-arrows
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 200px;
	background: #e4e4e4;
	 background: url("../images/stripes.png") repeat;
}

.mcolumn .tabs.primary
{
	margin-left: 30px;
	margin-right: 30px;
}
.node-type-webform .rightform, .page-white-paper .rightform
{
	margin-bottom: 10px;
}
#topformload
{
	display: none;
}
#topformload .form-item
{
	margin: 22px 0 0 0;
}
#topformload  #webform-component-agree
{
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;
}

#topformload .form-actions
{
	padding-top: 28px;
	text-align: center;
}
#topformload .jq-selectbox
{
	width: 100%;
}
.topformload-close-wrapper
{
	text-align: right;
	height: 40px;
}
.goodmail:after
{
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
	width: 15px;
	height: 12px;
	margin:-6px 0 0 0;
	background: url(../images/good.png) no-repeat center center;
}
.copyright p
{
	margin: 0px;
}
.noleftcol .mcolumn, .noleftcol  .rightcol
{
	margin-top: 0px !important;
}
.noleftcol.top-section3-wrapper
{
	min-height: 0px;
}
table.ptable tbody
{
	border-top: none;
	width: 100%;
	border-collapse: collapse;
}
.ptable th
{

	padding: 18px 0;
	text-align: center;
	font-weight: 500;
	font-size:16px;
	line-height: 1.4;
	width: 12%;
	vertical-align: middle;
}
.ptable th, .ptable td
{
	border: 1px solid #e5e5e5;
}
.ptable th:first-child, .ptable td:first-child
{
	border-right: none;
}
.ptable th:nth-child(2), .ptable td:nth-child(2)
{
	border-left: none;
}
.ptable th.col1
{
		width: 28%;
}
.ptable th.priceicon
{
	width: 12%;
}
.ptable th.nopadth
{
	padding-left: 0px;
	width: 159px;
	text-align: center;
	
}
.ptable th:nth-child(3), .ptable th:nth-child(5), .ptable th:nth-child(7),
.ptable td:nth-child(3), .ptable td:nth-child(5), .ptable td:nth-child(7)
{
	background-color: #f8f8f8
}
.ptable td
{
	padding: 30px 0px;
	height: 62px;
	vertical-align: middle;
}
.ptable tr:last-child td
{
	border-bottom:none;
}
td.col1 
{

	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size:13px;
	line-height: 16px;
}
td.pico1
{
	background: url(../images/p_ico1.png) no-repeat center center;
}
td.pico2
{
	background: url(../images/p_ico2.png) no-repeat center center;
}
td.pico3
{
	background: url(../images/p_ico3.png) no-repeat center center;
}
td.pico4
{
	background: url(../images/p_ico4.png) no-repeat center center;
}
td.pico5
{
	background: url(../images/p_ico5.png) no-repeat center center;
}
td.pico6
{
	background: url(../images/p_ico6.png) no-repeat center center;
}
td.pico7
{
	background: url(../images/p_ico7.png) no-repeat center center;
}
td.pico8
{
	background: url(../images/p_ico8.png) no-repeat center center;
}
td.pico9
{
	background: url(../images/p_ico9.png) no-repeat center center;
}
td.pico10
{
	background: url(../images/p_ico10.png) no-repeat center center;
}
td.pico11
{
	background: url(../images/p_ico11.png) no-repeat center center;
}
td.act
{
	background: url(../images/circle.png) no-repeat center center;
}
.__prpage
{
	margin: 0 0 30px 0;
	background: white;
}
.pricingtable h3, .pricingform h3
{
	padding: 30px;
	margin: 0px;
	background: white;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
	position: relative;
}
.mcolumn.__prpagewrapper, .maincontent .__prpagewrapper .block
{
	background: transparent;
}
.pricingform h3 span
{
	font-weight: 400;
	font-size: 15px;
}
.pricingform h3 span sup
{
	color: #ef226a;
	  font-size: 18px;
  position: relative;
  top: -2px;
}
.pricingform fieldset
{
	border: none;
	border-bottom: 1px solid #dbdbdb;
	margin: 0px;
	padding: 2% 4%;
}
#webform-component-user-info--txt p
{
	font-size: 24px;
	line-height: 1.4;
}
.lformblock
{
	background: #f4f4f4;
}
.lformblock input.form-text
{
	width: 100%;
}
.lformblock .form-actions
{
	background: white;
	text-align: center;
	margin: 0px;
	padding: 30px 0;
}
.lformblock .jq-selectbox
{
	width: 100%;
}
#webform-component-user-info .webform-component-email, #webform-component-user-info .webform-component-textfield, #webform-component-otherinfo  .webform-component-textfield, #webform-component-otherinfo  .webform-component-select, #webform-component-otherinfo  .webform-component-email
{
	display: inline-block;
	width: 45%;
	margin-right: 4%;
}
#webform-component-otherinfo  .webform-component-textfield#webform-component-otherinfo--company
{
	width: 100%;
	margin-right: 0px;
}
#webform-component-otherinfo  .webform-component-textfield#webform-component-otherinfo--company  input.form-text, #webform-component-otherinfo textarea
{
	width: 45%;
}
.topformload-title
{
	font-size: 18px;
	font-weight: 600;
	margin: -10px 0 0 0;
}
.firstbannerlink {
    position: absolute;
    top: 57px;
    left: 100%;
    width: 319px;
    height: 187px;
    display: block;
    margin-left: 189px;
}

.mode_new .maincontent, body.mode_new, html.mode_new
{
    background: white;
}
.webformpage-logos
{
    border-top: 1px solid #e5e5e5;
}
.w_new-top{
    position: relative;
    height: 270px;
    background-size: cover;
    background-repeat: no-repeat;
}

.w_new-top img
{
    width: 100%;
    height: auto;
}
.w_new-top-title{
    width: 100%;
    height: 100%;
    position: absolute;
}
.w_new-top-title h1
{
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
    font-size: 36px;
    font-weight: normal;
    color: white;
}
.__table_1
{
    display: table;
    width: 100%;
    height: 100%;
}
.w_new-top-title div
{
    height: 100%
}
.w_new-bottom-text{
    padding: 30px 0 60px 0;
    font-size: 15px;
}
.w_new-bottom-text h3
{
    font-weight: normal;
    margin: 0 0 20px 0;
    font-size: 24px;
}
.w_new-bottom-text ul
{
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #e5e5e5
}
.w_new-bottom-text ul li
{
    padding: 0 0 0 30px;
    margin: 0 0 15px 0;
    position: relative;
}
.w_new-bottom-text ul li:before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url(../images/icons.png) no-repeat -20px 0;
    width: 15px;
    height: 14px;
}
.w_new-bottom-form
{
    background: #e4e4e4;
    padding: 40px 40px 20px 40px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    margin-top: -213px;
}
@media (max-width: 767px) {
    .w_new-bottom-form
    {
        margin-top: 0px;
    }
}
.w_new-bottom-form .form-text
{
    width: 100%;
}
.w_new-bottom-form label
{
    display: none;
}
.w_new-bottom-form-title
{
    text-align: center;
    font-size: 15px;
}
.w_new-bottom-form-title h3
{
    font-size: 24px;
    margin: 0 0 20px 0;
}
.w_new-bottom-form .form-actions
{
    text-align: center;
}
.w_new-bottom-form-form
{
    margin-top: 30px;
}
.w_new-bottom-form-form  #webform-component-first-name
{
    width: 49%;
    float: left;
    margin-top: 0px;
}
.w_new-bottom-form-form #webform-component-last-name
{
    width: 49%;
    float: left;
    margin-left: 2%;
    margin-top: 0px;
}
.w_new-bottom-form-form  .jq-selectbox
{
    width: 100%
}
.w_new-bottom-form-form  .jq-selectbox.error
{
    border: 2px solid red;
    border-radius: 5px;
}
.header_phones_block
{
    text-align: right;
    margin: 5px 0 0 0;
}
.region-toplinks
{
    margin: -7px 0 0 0;
}
.region-toplinks .btn-stroke, .region-toplinks .btn-full
{
    height: 32px;
    line-height: 32px;
}
.fixed-top .header_phones_block
{
    font-size: 16px;
    margin-top: 8px;
}
.frontent-news-text-title a, h3 a{
	color: #323232;
}
@media (max-width: 767px) {
    .region-toplinks
    {
        text-align: right;
    }
    .header_phones_block
    {
        font-size: 12px;
        white-space: nowrap;
    }
    .fixed-top .header_phones_block
    {
        margin-top: 2px;
        font-size: 11px;
    }
    .fixed-top .header_phones_block .phoneblock_info
    {
        display: block;
    }
}
.header-menu  .menu-level-1>ul.menu>li>ul.menu{
	position: absolute;
	top: 100%;
	left: 0px;
	background: white;
	padding: 10px 0px;
	    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	min-width: 180px;
	display: none;
	
}
.header-menu  .menu-level-1>ul.menu>li:hover>ul.menu
{
	display: block;
}
.header-menu  .menu-level-1>ul.menu>li.expanded>a{
	
	padding-right: 15px;
	position: relative;
}
.header-menu  .menu-level-1>ul.menu>li.expanded>a:after{
	content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    top: 50%;
    margin: -4px 0 0 0;
    right: 0px;
    background: url(../images/icons.png) -83px -34px;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
	
}
/*
.header-menu  .menu-level-1>ul.menu>li>ul.menu:before{
	content: "";
	width: 0;
height: 0;
border-style: solid;
border-width: 0 5px 6px 5px;
border-color: transparent transparent #ffffff transparent;
	top: -6px;
	left: 20px;
	position: absolute;
}*/
.header-menu  .menu-level-1>ul.menu>li>ul.menu>li{
	display: block;
	padding: 5px 15px;
	position: relative;
}
.header-menu  .menu-level-1>ul.menu>li>ul.menu>li>ul.menu
{
		position: absolute;
	top: 0px;
	left: 100%;
	background: white;
	padding: 10px 0px;
	    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	min-width: 180px;
	display: none;
}
.header-menu  .menu-level-1>ul.menu>li>ul.menu>li>ul.menu li{
		display: block;
	padding: 3px 15px;
}
.header-menu  .menu-level-1>ul.menu>li>ul.menu>li:hover>ul.menu
{
	display: block;
}
.header-menu  .menu-level-1>ul.menu>li>ul.menu>li.expanded>a{
		display: block;
	padding-right: 15px;
	position: relative;
}
.header-menu  .menu-level-1>ul.menu>li>ul.menu>li.expanded>a:after{
	content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    top: 50%;
    margin: -4px 0 0 0;
    right: 0px;
    background: url(../images/icons.png) -83px -34px;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}