.landing-1 {
  .blue-block {
    // mobile
    @include flex-parent(
      $fd: column,
      $jc: center,
      $ai: center
    );
    width: 100%;
    height: 194px;
    margin-top: 50px;
    background-color: #008be6;


    //desktop
    @include media-query(desktop) {
      @include flex-direction(row);
      height: 230px;
      margin-top: 120px;
    }

    p {
      // mobile
      width: 100%;
      font-family: "ProximaNova-SemiBold", sans-serif;
      font-size: 24px;
      text-align: center;
      color: #fff;

      //desktop
      @include media-query(desktop) {}
    }
  }
}