.landing-1 {



  [class^="company-logo-"], [class*=" company-logo-"] {
    // mobile
    font-family: 'company-logo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 13vw;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    //desktop
    @include media-query(desktop) {
      font-size: 5vw;
    }
  }


  .company-logo .path1,
  .company-logo .path2,
  .company-logo .path3,
  .company-logo .path4,
  .company-logo .path5,
  .company-logo .path6,
  .company-logo .path7,
  .company-logo .path8,
  .company-logo .path9,
  .company-logo .path10,
  .company-logo .path11,
  .company-logo .path12,
  .company-logo .path13,
  .company-logo .path14,
  .company-logo .path15,
  .company-logo .path16,
  .company-logo .path17,
  .company-logo .path18,
  .company-logo .path19 {
    width: 200px;
    height: 100px;
    margin-right: 6.25vw;
    position: relative;
  }

  .company-logo-Company-logo .path1:before {
    content: "\e900";
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path2:before {
    content: "\e901";
    margin-left: -3.7958984375em;
    //color: rgb(149, 160, 169);
    color: #fff;
  }
  .company-logo-Company-logo .path3:before {
    content: "\e902";
    margin-left: -3.7958984375em;
    //color: rgb(149, 160, 169);
    color: #fff;
  }
  .company-logo-Company-logo .path4:before {
    content: "\e903";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path5:before {
    content: "\e904";
    margin-left: -3.7958984375em;
    //color: rgb(149, 160, 169);
    color: #fff;
  }
  .company-logo-Company-logo .path6:before {
    content: "\e905";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path7:before {
    content: "\e906";
    margin-left: -3.7958984375em;
    //color: rgb(0, 0, 0);
    color: #fff;
  }
  .company-logo-Company-logo .path8:before {
    content: "\e907";
    margin-left: -3.7958984375em;
    //color: rgb(0, 0, 0);
    color: #fff;
  }
  .company-logo-Company-logo .path9:before {
    content: "\e908";
    margin-left: -3.7958984375em;
    //color: rgb(0, 0, 0);
    color: #fff;
  }
  .company-logo-Company-logo .path10:before {
    content: "\e909";
    margin-left: -3.7958984375em;
    //color: rgb(0, 0, 0);
    color: #fff;
  }
  .company-logo-Company-logo .path11:before {
    content: "\e90a";
    margin-left: -3.7958984375em;
    //color: rgb(0, 0, 0);
    color: #fff;
  }
  .company-logo-Company-logo .path12:before {
    content: "\e90b";
    margin-left: -3.7958984375em;
    //color: rgb(0, 0, 0);
    color: #fff;
  }
  .company-logo-Company-logo .path13:before {
    content: "\e90c";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path14:before {
    content: "\e90d";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path15:before {
    content: "\e90e";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path16:before {
    content: "\e90f";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path17:before {
    content: "\e910";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path18:before {
    content: "\e911";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
  .company-logo-Company-logo .path19:before {
    content: "\e912";
    margin-left: -3.7958984375em;
    //color: rgb(237, 23, 79);
    color: #fff;
  }
}