.page-wrapper {

  .form-block {
    // mobile first
    @include box-sizing();
    width: 100%;
    margin-top: 10vw;
    padding: 8vw 5.5vw;
    background-color: #efefef;

    // desktop
    @include media-query(desktop) {
      width: 50%;
      margin-top: 5.125vw;
      padding: 45px 35px 30px;
      //padding: 3vw 10vw 3.75vw;
    }

    .question {
      // mobile first
      font-family: "ProximaNova-SemiBold", sans-serif;
      font-size: 5.25vw;
      text-align: center;

      // desktop
      @include media-query(desktop) {
        font-size: 1.846rem;
      }
    }

    .submit-text {
      // mobile first
      font-size: 3.4vw;
      text-align: center;

      // desktop
      @include media-query(desktop) {
        font-size: 1.538rem;
      }
    }

    .rate-text {
      // mobile first
      margin-top: 10vw;
      font-family: "ProximaNova-SemiBold", sans-serif;
      font-size: 4vw;
      text-align: center;

      // desktop
      @include media-query(desktop) {
        margin-top: 4vw;
        font-size: 1.231rem;
        text-align: left;
      }
    }

    .the-form {
      // mobile first
      @include flex-parent(
        $fd: column
      );
      margin-top: 8vw;

      // desktop
      @include media-query(desktop) {
        @include flex-direction(row);
        margin-top: 3vw;
      }

      & > * + * {
        margin-top: 6.5vw;
      }

      input {
        // mobile first
        @include border-radius(4px);
        @include placeholder {
          font-family: "ProximaNova-Regular", sans-serif;
          font-size: 4vw;
          color: transparentize(#323232, .5);
        }
        width: 100%;
        height: 12vw;
        padding-left: 4vw;
        color: transparentize(#323232, .5);
        border: none;

        // desktop
        @include media-query(desktop) {
          @include placeholder {
            font-size: 1.231rem;
          }
          margin-top: 1vw;
          height: 40px;
          padding-left: 2vw;
          font-size: 1.231rem;

          &.first-name,
          &.last-name {
            width: 48%;
            margin-top: 0;
          }

          &.last-name {
            margin-left: auto;
          }
        }
      } // input EOL

      textarea {
        // mobile first
        @include placeholder {
          font-family: "ProximaNova-Regular", sans-serif;
          font-size: 4vw;
          color: transparentize(#323232, .5);
        }
        width: 100%;
        height: 36.25vw;
        padding: 4vw;
        font-size: 4vw;
        color: transparentize(#323232, .5);
        border: none;
        resize: vertical;

        // desktop
        @include media-query(desktop) {
          @include placeholder {
            font-size: 1.231rem;
          }
          height: 7.25vw;
          margin-top: 1vw;
          padding: 1.5vw 2vw;
          font-size: 1.231rem;
        }
      } // textarea EOL

      button {
        // mobile first
        @include border-radius(4px);
        width: 40.625vw;
        height: 10.5vw;
        margin: 7.8125vw auto 0;
        text-align: center;
        color: #fff;
        font-size: 4vw;
        background-color: #0086de;

        // desktop
        @include media-query(desktop) {
          width: 160px;
          height: 40px;
          margin-top: 2vw;
          font-size: 1.231rem;
        }

      }
    }
  }

  .main {
    .form-block {
      // desktop
      @include media-query(desktop) {
        width: 100%;
        margin-top: 5.125vw;
        padding: 3vw 10vw 3.75vw;
      }

      .question {
        // desktop
        @include media-query(desktop) {
          font-size: 2.308rem;
        }
      }

      .the-form {
        //desktop
        @include media-query(desktop) {
          margin-top: 4vw;
        }
      }

      input {
        //desktop
        @include media-query(desktop) {
          height: 4vw;
        }
      } // input

      textarea {
        //desktop
        @include media-query(desktop) {
          height: 8vw;
        }
      } // textarea

      button {
        //desktop
        @include media-query(desktop) {
          width: 16vw;
          height: 4vw;
          margin-top: 2vw;
          font-size: 1.231rem;
        }
      } //button
    } // form-block
  }

}