// Fonts svg

.page-wrapper {
  [class^="social-"], [class*=" social-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fb-tw-lkdn', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .social-fb .path1:before {
    content: "\e900";
    color: rgb(78, 113, 168);
  }
  .social-fb .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .social-lkdn .path1:before {
    content: "\e902";
    color: rgb(10, 123, 186);
  }
  .social-lkdn .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(242, 242, 242);
  }
  .social-tw .path1:before {
    content: "\e904";
    color: rgb(85, 172, 238);
  }
  .social-tw .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
}


.page-wrapper {
  // navbar-left icons
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'genius2', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  // common styles
  .icon-obj0,
  .icon-obj1,
  .icon-obj2,
  .icon-obj3,
  .icon-obj4,
  .icon-obj5,
  .icon-obj6,
  .icon-obj7,
  .icon-obj8 {
    width: 3.125vw;
    height: 3.125vw;
    margin-right: 6.25vw;
    position: relative;

    @include media-query(desktop) {
      margin-right: 1.75vw;
    }

    &:before {
      @include absolute(top 50% left 50%);
      @include translate(-50%, -50%);
      display: block;
      color: #024e80;
    }

    &:before:hover {
      color: #fff;
    }
  }

  // unique styles
  .icon-obj0 {
    &:before {
      content: "\e900";
      font-size: 1.25rem;

      @include media-query(desktop) {
        font-size: 1vw;
      }
    }
  }

  .icon-obj1 {
    &:before {
      content: "\e901";
      font-size: 4rem;

      @include media-query(desktop) {
        font-size: 2vw;
      }
    }
  }

  .icon-obj2 {
    &:before {
      content: "\e902";
      font-size: 3rem;

      @include media-query(desktop) {
        font-size: 1.75vw;
      }
    }
  }

  .icon-obj3 {
    &:before {
      content: "\e903";
      font-size: 2.75rem;

      @include media-query(desktop) {
        font-size: 1.5vw;
      }
    }
  }

  .icon-obj4 {
    &:before {
      content: "\e904";
      font-size:  2.75rem;

      @include media-query(desktop) {
        font-size: 1.5vw;
      }
    }
  }

  .icon-obj5 {
    &:before {
      content: "\e905";
      font-size: 3.875rem;

      @include media-query(desktop) {
        font-size: 2vw;
      }
    }
  }

  .icon-obj6 {
    &:before {
      content: "\e906";
      font-size: 4rem;

      @include media-query(desktop) {
        font-size: 2vw;
      }
    }
  }

  .icon-obj7 {
    &:before {
      content: "\e907";
      font-size: 4rem;

      @include media-query(desktop) {
        font-size: 2vw;
      }
    }
  }

  .icon-obj8 {
    &:before {
      content: "\e908";
      font-size: 4rem;

      @include media-query(desktop) {
        font-size: 1.75vw;
      }
    }
  }
}