.page-wrapper {
  .information-block {
    @include box-sizing();
    width: 100%;
    margin-top: 8vw;

    // desktop
    @include media-query(desktop) {
      margin-top: 3vw;
    }

    & > * + * {
      margin-top: 8vw;

      @include media-query(desktop) {
        margin-top: 2.75vw;
      }
    }

    .info-block-item { // info-block-item

      h3.info-item-title {
        // mobile first
        font-size: 4vw;

        // desktop
        @include media-query(desktop) {
          font-size: 1.538rem;
        }
      } // EOL info-block-title

      .info-block-text {
        // mobile first
        line-height: 1.25em;
        margin-top: 4vw;
        font-size: 0.923rem;

        // desktop
        @include media-query(desktop) {
          line-height: 1.5em;
          margin-top: 1vw;
          font-size: 1.231rem;

          .phases,
          .dependencies {
            margin-top: 1.25vw;
          }
        }
      } // info-block-text EOL


    } // info-block-item EOL

    .info-block-benefits { // info-block-benefits
      //mobile first
      margin-top: 8vw;
      font-size: 4vw;

      //desktop
      @include media-query(desktop) {
        margin-top: 2.75vw;
        font-size: 1.538rem;
      }

      ul {
        //mobile first
        line-height: 2em;
        margin-top: .75vw;
        padding-left:.625vw;

        //desktop
        @include media-query(desktop) {
          padding: .75vw 0 0 .625vw;
          font-size: 1.231rem;
        }
      }
    } // info-block-benefits EOL

    .courses-and-certifications { // courses-and-certifications
      // mobile first
      margin-top: 8vw;
      font-size: 4vw;

      // desktop
      @include media-query(desktop) {
        margin-top: 2.75vw;
        font-size: 1.538rem;
      }

      ul {
        margin-top: 4vw;

        @include media-query(desktop) {
          line-height: 2em;
          margin-top: .75vw;
          font-size: 1.231rem;
        }

        & > * + * {
          margin-top: 3vw;

          @include media-query(desktop) {
            margin-top: 0;
          }
        }

        li {
          // mobile first
          line-height: 1.5em;
          font-family: "ProximaNova-SemiBold", sans-serif;
          font-size: 0.923rem;
          color: #008be6;

          //desktop
          @include media-query(desktop) {
            line-height: 2em;
          }
        }
      }

    } // courses-and-certifications EOL
  }
}