.page-wrapper {
  .pagination-block {
    // mobile first
    @include flex-parent();
    width: 100%;
    height: 15vw;
    color: #fff;
    background-color: #0173bd;

    // desktop
    @include media-query(desktop) {
      height: 100px;
    }

    .pagination-arrow {
      // mobile first
      @include flex-parent(
        $jc: center,
        $ai: center
      );
      width: 15vw;
      height: 100%;
      font-size: 7.5vw;
      background-color: #024e80;

      // desktop
      @include media-query(desktop) {
        width: 10vw;
        font-size: 2.5vw;
      }

      &:hover {
        color: transparentize(#fff, .5);
        text-decoration: none;
      }
    }

    .pagination-middle-section {
      // mobile first
      @include flex-parent(
        $jc: space-between,
        $ai: center
      );
      @include flex-grow(1);
      padding: 0 4vw;

      // desktop
      @include media-query(desktop) {

      }
    }

    .pagination-link {
      // mobile first
      font-size: 3.3333vw;
      text-transform: uppercase;


      // desktop
      @include media-query(desktop) {
        font-size: 1.538rem;
      }

      &:hover {
        color: transparentize(#fff, .5);
        text-decoration: none;
      }

      span {
        // mobile first
        border-bottom: 1px solid transparentize(#fff, .8);
      }
    }
  }
}