.landing-1 {
  .genius-project {
    // mobile
    @include box-sizing();
    margin: 0;
    padding: 0 10px;


    //desktop
    @include media-query(desktop) {
      padding: 0 45px;
    }


    .genius-project-item {
      // mobile
      @include flex-parent(
        $fd: column
      );
      margin-top: 44px;

      &:first-child {
        margin-top: 0;
      }

      //desktop
      @include media-query(desktop) {
        position: relative;
        margin-top: 60px;
      }

      img {
        // mobile
        @include box-shadow(0 1px 7px #ccc);
        width: 100%;


        //desktop
        @include media-query(desktop) {}

        &.mobile {
          // mobile
          display: block;


          //tablet
          @include media-query(desktop) {
            display: none;
          }
        }

        &.desktop {
          // mobile
          display: none;


          //tablet
          @include media-query(desktop) {
            display: block;
          }
        }
      }

      .text-block {
        // mobile
        @include box-sizing();
        @include box-shadow(0 1px 7px #ccc);
        padding: 54px 38px;

        //desktop
        @include media-query(desktop) {
          @include translate(0, -50%);
          width: 336px;
          height: 336px;
          padding: 80px 30px;
          background-color: #fff;
          box-shadow: none;
        }
      }

      &:nth-child(odd) .text-block {
        // mobile

        //desktop
        @include media-query(desktop) {
          @include absolute(top 50% right 0);
        }
      }

      &:nth-child(even) .text-block {
        // mobile

        //desktop
        @include media-query(desktop) {
          @include absolute(top 50% left 0);
        }
      }



      h2 {
        // mobile
        margin: 0;

        //desktop
        @include media-query(desktop) {
          line-height: 1.25em;
          font-size: 30px;
        }
      }


      .text {
        // mobile

        //desktop
        @include media-query(desktop) {
          line-height: 1.5em;
          margin-top: 20px;
          font-size: 13px;
        }
      }
    }
  }
}