.landing-1 {
  .awards {
    // mobile
    margin-top: 40px;


    //desktop
    @include media-query(desktop) {
      margin: 0;
      padding: 70px 45px 85px;
      background-color: #fff;
    }


    .block-title {
      // mobile
      font-family: "ProximaNova-Regular", sans-serif;
      span {
        font-size: 24px;
      }

      .block-title-link {
        font-size: 12px;
        color: #008be6;
      }
    }

    .awards-wrapper-title {
      font-size: 12px;
    }
  }
}