.landing-1 {
  .what-we-do {
    // mobile
    @include flex-parent(
      $fd: row,
      $jc: space-between,
      $ai: center
    );
    width: 100%;
    padding-top: 70px;
    background-color: #f4f4f4;

    //desktop
    @include media-query(desktop) {
      padding-top: 0;
    }
  }


  .item {
     // mobile
    @include flex-parent(
      $fd: column,
      $jc: flex-start,
      $ai: center
    );
    width: 48%;
    height: 204px;
    font-family: "ProximaNova-Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #323232;

    //desktop
    @include media-query(desktop) {
      @include justify-content(center);
     width: 18%;
    }

    &:nth-child(n+6) {
      margin-top: 0;

      //desktop
      @include media-query(desktop) {
        margin-top: 20px;
      }
    }

    .icon {
      width: 30px;
      height: 24px;
      margin-bottom: 30px;
      background: {
        image: url('../images/freetriakform/what-we-do-icon.png');
        repeat: no-repeat;
        position: top;
      };
    }
  }
}