.page-wrapper {
  section.content-right {
    // mobile first
    @include box-sizing();
    width: 100vw;
    padding: 0 5vw;

    // desktop
    @include media-query(desktop) {
      @include box-shadow(0 1px 7px #ccc);
      width: 70%;
      margin: 30px 30px;
      padding-bottom: 30px;

      &.main {
        width: 75.5%;
        padding: 0 40px 0 5.75vw;
        margin: 0;
        box-shadow: none;
      }
    }

    .section-title {
      // mobile first
      width: 100%;
      padding-top: 36px;

      // desktop
      @include media-query(desktop) {
        width: 70vw;
        padding-top: 1.375vw;
      }

      span {
        // mobile first
        font-size: 0.923em; // orig 12px
        color: #323232;

        // desktop
        @include media-query(desktop) {
          font-size: 1.385rem;
        }
      }

      h1.title {
        // mobile first
        font-family: "ProximaNova-SemiBold", sans-serif;
        font-size: 6vw;

        // desktop
        @include media-query(desktop) {
          font-size: 2.308rem;
        }
      }
    }

  }

}
