.landing-1 {

  .introduction {
    width: 100%;
    max-width: 1200px;
    position: relative;
  }

  img.introduction-bg {
    // mobile
    width: 100%;
    height: 1434px;

    //desktop
    @include media-query(desktop) {
      height: 1000px;
    }

    &.mobile {
      // mobile
      display: block;

      //desktop
      @include media-query(desktop) {
        display: none;
      }
    }

    &.desktop {
      // mobile
      display: none;

      //desktop
      @include media-query(tablet) {
        display: block;
      }

    }
  }

  .introduction-block {
    // mobile
    @include flex-parent(
      $fd: column,
      $jc: center,
      $ai: center
    );
    @include absolute(top 0 left 0);

    // desktop
    @include media-query(desktop) {

    }

    .genius-logo {
      // mobile
      display: block;
      width: 180px;
      height: 60px;
      margin-top: 70px;
      text-decoration: none;

      // desktop
      @include media-query(desktop) {}
    }

    .introduction-title {
      // mobile
      margin: 0;
      margin-top: 60px;
      font-family: "ProximaNova-SemiBold", sans-serif;
      font-size: 20px;
      text-align: center;
      color: #fff;

      // desktop
      @include media-query(desktop) {
        line-height: 50px;
        margin-top: 45px;
        font-size: 40px;
      }
    }

    .intro-n-form-wrap {
      // mobile
      @include flex-parent(
        $fd: column
      );
      margin-top: 55px;

      // desktop
      @include media-query(desktop) {
        @include box-sizing();
        @include flex-direction(row);
        margin-top: 110px;
        padding: 0 90px;
      }


      .form-block {
        // mobile
        width: 90%;
        order: 1;
        margin: 0 auto;
        padding: 40px;

        //desktop
        @include media-query(desktop) {
          width: 50%;
          margin: 0;
          order: 2;
        }

      }


      .introduction-information-block {
        // mobile
        width: 100%;
        order: 2;
        margin-top: 45px;

        // desktop
        @include media-query(desktop) {
          width: 50%;
          order: 1;
          margin-top: 0;
        }
      }

    }

    .company-info {
      // mobile
      @include box-sizing();
      padding: 0 20px;
      text-align: left;

      // desktop
      @include media-query(desktop) {
        padding-right: 70px;
      }

      img.company-logo {
        // mobile
        width: 125px;

        // desktop
        @include media-query(desktop) {
          margin-top: 75px;
        }
      }
    }

    .company-employee-name-position {
      // mobile
      width: 100%;
      margin-top: 20px;
    }

    .name {
      // mobile
      font-family: "ProximaNova-Regular", sans-serif;
      color: #fff;
      font-size: 24px;

      //desktop
      @include media-query(desktop) {
        br {
          display: none;
        }
      }
    }

    .position {
      // mobile
      color: #fff;
      font-size: 18px;
    }

    .company-employee-quote {
      // mobile
      line-height: 20px;
      margin-top: 35px;
      font-family: "ProximaNova-Regular", sans-serif;
      font-size: 13px;
      color: #fff;

      .quote-open-icon {
        // mobile
        @include relative(top -9px left 0);
        display: inline-block;
        width: 17px;
        height: 13px;
        background: {
          image: url('../images/freetriakform/qoutes-open.png');
          repeat: no-repeat;
          position: top;
        };
      }

      .quote-close-icon {
        // mobile
        @include relative(bottom -12px right -1px);
        display: inline-block;
        width: 17px;
        height: 13px;
        background: {
          image: url('../images/freetriakform/qoutes-close.png');
          repeat: no-repeat;
          position: bottom;
        };
      }
    }

    .company-clients-block {
      // mobile
      @include flex-parent(
        $jc: center
      );
      margin-top: 60px;
      padding-top: 44px;
      border-top: 1px solid transparentize(#a4aaa9, .5);

      // desktop
      @include media-query(desktop) {
        @include flex-direction(row);
        @include justify-content(space-between);
        padding-top: 0;
        border-top: none;
      }

      & > div {
        // mobile
        @include flex-parent(
          $jc: center,
          $ai: center
        );
        width: 50%;


        //desktop
        @include media-query(desktop) {
          @include justify-content(space-around);
          width: 30%;
        }
      }

      & > div:nth-child(1),
      & > div:nth-child(2) {
        // mobile
        margin-bottom: 20px;

      }

      & > div:nth-child(1),
      & > div:nth-child(2),
      & > div:nth-child(3) {
        // desktop
        @include media-query(desktop) {
          margin-bottom: 20px;
        }
      }

      & > div:nth-child(5),
      & > div:nth-child(6) {
        // mobile
        display: none;

        // tablet
        @include tablet {
          display: block;
        }
      }

      img {
        // mobile

        // desktop
        @include media-query(desktop) {
          display: block;
          width: 30%;
          height: 60px;
        }
      }

      .danone {
        width: 90px;
        height: 43px;
      }

      .Schneider {
        width: 96px;
        height: 30px;
      }

      .Zeiss {
        width: 42px;
        height: 44px;
      }

      .Bunge {
        width: 91px;
        height: 21px;
      }

      .Braun {
        width: 120px;
        height: 30px;
      }

      .Bentley {
        width: 95px;
        height: 48px;
      }
    }


    .form-block {
      // mobile
      @include box-sizing();
      width: 50%;
      max-width: 490px;
      padding: 45px;
      background-color: #fff;

      h3 {
        // mobile
        line-height: 1.125em;
        margin: 0;
        font-family: "ProximaNova-SemiBold", sans-serif;
        font-size: 18px;
        text-align: center;

        // desktop
        @include media-query(desktop) {
          line-height: 1.125em;
          font-size: 24px;
        }
      }


      .the-form {
        // mobile
        @include flex-parent(
          $fd: column
        );

        // desktop
        @include media-query(desktop) {
          @include flex-direction(row);
          @include justify-content(space-between);
          margin-top: 30px;
        }
      }

      input {
        // mobile
        @include border-radius(4px);
        width: 100%;
        height: 40px;
        margin-top: 10px;
        padding-left: 14px;
        border: 1px solid #d9d9d9;
        font-family: "ProximaNova-Regular", sans-serif;
        font-size: 15px;
        color: #323232;

        // desktop
        @include media-query(desktop) {
          font-size: 16px;
        }
      }

      .first-name,
      .last-name {
        //mobile
        width: 100%;

        //desktop
        @include media-query(desktop) {
        width: 48%;
      }
      }

      p.some-text {
        //mobile
        margin-top: 15px;
        font-family: "ProximaNova-Regular", sans-serif;
        color: #838181;
        text-align: center;

        // desktop
        @include media-query(desktop) {
          margin-top: 20px;
          text-align: left;
          font-size: 12px;
        }

        a {
          text-decoration: underline;

          &:hover {
            color: #838181;
          }
        }
      }

      .btn-wrap {
        // mobile
        margin: 20px auto 0;

        // desktop
        @include media-query(desktop) {
          margin: 44px auto 0;
        }

        button {
          // mobile
          @include border-radius(4px);
          width: 152px;
          height: 34px;
          line-height: 34px;
          margin: 0;
          font-family: "ProximaNova-Regular", sans-serif;
          font-size: 13px;
          color: #fff;
          background-color: #e51e50;

          // desktop
          @include media-query(desktop) {
            width: 180px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
          }
        }
      }

      .btn-wrap + .some-text {
        // mobile
        margin: 16px auto;
        color: #2f2f2f;
        font-size: 10px;

        // desktop
        @include media-query(desktop) {
          font-size: 12px;
        }
      }
    }
  }
}