.page-wrapper {

  .social-sharing-block {
    // mobile first
    @include flex-parent(
      $fd: row,
      $jc: space-between,
      $ai: center
    );
    @include box-sizing();
    width: 100%;
    padding-top: 8vw;

    @include media-query(desktop) {
      @include justify-content(flex-start);
      padding-top: 2vw;
    }

    .social-buttons {
      // mobile first
      @include flex-parent(
        $fd: row
      );

      // social-btns-wrap
      .social-btns-wrap {
        // mobile first
        @include flex-parent(
          $fd: row,
          $ai: center
        );

        .social-title {
          // mobile first
          font-family: "ProximaNova-SemiBold", sans-serif;
          font-size: 1rem;

          // desktop
          @include media-query(desktop) { }
        }

        .social-btns {
          @include flex-parent();
          margin-left: 18px;

          @include media-query(desktop) {
            //margin-left: 1vw;
          }
        }

        .tw,
        .fb,
        .lkdn {
          // mobile first
          display: block;
          margin-right: 5px;
          font-size: 25px;

          @include media-query(desktop) {
            margin-right: .375vw;
            font-size: 32px;
          }
        }

        a:hover {
          opacity: .8;
          text-decoration: none;
        }
      } // social-btns-wrap EOL
    }
  }

  .email-as-pdf-btn,
  .purple-btn {
    // mobile first
    @include flex-parent(
      $jc: center,
      $ai: center
    );
    @include border-radius(4px);
    width: 98px;
    height: 30px;
    //width: 30.5vw;
    //height: 10vw;
    background-color: #e91e51;
    color: #fff;
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 0.923rem; // orig 12px
    text-align: center;

    // desktop
    @include media-query(desktop) {
      width: 126px;
      height: 40px;
      //width: 7.875vw;
      //height: 2.5vw;
      margin-left: 3.5vw;
      font-size: 1.154rem;
    }
  }

}