.page-wrapper {

  .table-of-content {
    // mobile first
    @include box-sizing();
    width: 100%;
    margin-top: 10vw;

    @include media-query(desktop) {
      margin-top: 2vw;
    }

    .content-block-title { // .content-block-title
      // mobile first
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 5vw;

      // desktop
      @include media-query(desktop) {
        font-size: 1.846rem;
      }
    }

    .content-block-wrap {
      // mobile first
      @include flex-parent(
        $fd: row,
        $jc: space-between
      );
      width: 100%;
      margin-top: 4vw;

      // desktop
      @include media-query(desktop) {
        margin-top: 1.875vw;
      }
    }

    // .content-block
    .content-block {
      // mobile first
      @include box-shadow(0 1px 7px #ccc);
      width: 43vw;
      height: 43vw;
      border-bottom: 4px solid transparent;

      // desktop
      @include media-query(desktop) {
        width: 15vw;
        height: 15vw;
      }

      &:nth-child(n + 3) {
        // mobile first
        margin-top: 4vw;

        // desktop
        @include media-query(desktop) {
          margin-top: 0;
        }
      }

      &:nth-child(n + 5) {
        // desktop
        @include media-query(desktop) {
          margin-top: 1.875vw;
        }
      }

      &:nth-child(1):hover {
        border-color: #5936d8;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:nth-child(2):hover {
        border-color: #46edb9;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:nth-child(3):hover {
        border-color: #ffb411;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:nth-child(4):hover {
        border-color: #e94b2e;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:nth-child(5):hover {
        border-color: #d35d6d;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:nth-child(6):hover {
        border-color: #3031da;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:nth-child(7):hover {
        border-color: #43bdb2;
        color: inherit !important;
        text-decoration: none !important;
      }

      &:last-child:hover {
        border-color: #024e80;
        color: inherit !important;
        text-decoration: none !important;
      }

      a.content-block-container {
        // mobile first
        @include flex-parent(
          $fd: column,
          $jc: flex-start,
          $ai: center
        );
        @include box-sizing(content-box);
        height: 100%;
        position: relative;

        &:hover {
          color: inherit;
          text-decoration: none;
        }

        img { // img
          //mobile first
          display: block;
          width: 100%;
          height: 50%;
        } // img EOL

        .content-block-name {
          // mobile first
          @include flex-parent(
            $ai: center
          );
          height: 2.5em;
          line-height: 1.25em;
          margin-top: 9vw;
          font-size: 3.5vw;
          text-align: center;

          // desktop
          @include media-query(desktop) {
            margin-top: 3vw;
            font-size: 1.385rem;
          }
        }

        .content-block-icon {
          // mobile first
          @include absolute(top 21vw left 50%);
          @include translate(-50%, -50%);
          @include border-radius();
          width: 11vw;
          height: 11vw;
          margin: 0;

          // desktop
          @include media-query(desktop) {
            top: 7vw;
            width: 3.75vw;
            height: 3.75vw;
          }

          &.icon-obj1,
          &.icon-obj2,
          &.icon-obj3,
          &.icon-obj4,
          &.icon-obj5,
          &.icon-obj6,
          &.icon-obj7,
          &.icon-obj8 {
            &:before {
              // mobile first
              color: #fff;
              font-size: 5vw;

              // desktop
              @include media-query(desktop) {
                font-size: 1.5vw;
              }
            }
          }

          &.icon-obj1 { background-color: #5936d8; }
          &.icon-obj2 { background-color: #46edb9; }
          &.icon-obj3 { background-color: #ffb411; }
          &.icon-obj4 { background-color: #e94b2e; }
          &.icon-obj5 { background-color: #d35d6d; }
          &.icon-obj6 { background-color: #3031da; }
          &.icon-obj7 { background-color: #43bdb2; }
          &.icon-obj8 { background-color: #024e80; }
        }
      }
    }
  }

}