.page-wrapper {

  .view-product-block {
    // mobile first
    width: 100%;
    margin-top: 8vw;
    position: relative;

    @include media-query(desktop) {
      margin-top: 5.125vw;
    }

    .product-tour-pic {
      &.mobile {
        // mobile first
        display: block;
        width: 90vw;
        height: 95.5vw;

        margin: 0 auto;

        // tablet
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          //display: none !important;
        }

        // desktop
        @include media-query(desktop) {
          display: none !important;
        }
      } //  .mobile EOL

      &.desktop {
        // mobile first
        display: none !important;

        // desktop
        @include media-query(desktop) {
          display: block !important;
          width: 100%;
          height: 29.6875vw;
        }

      } // .desktop EOL

    } // product-tour-pic EOL

    .content-container {
      // mobile first
      @include absolute(top 0 left 0);
      width: 100%;
      height: 100%;
      padding: 12vw 0 0;
      text-align: center;

      @include media-query(desktop) {
        @include translate(0, -50%);
        top: 50%;
        height: auto;
        padding-top: 0;
      }

      .slogan-text {
        // mobile first
        font-size: 7.5vw;
        line-height: 1.2em;
        color: #fff;

        // desktop
        @include media-query(desktop) {
          width: 490px;
          margin: 0 auto;
          font-size: 2.308rem;

          br {
            display: none;
          }
        }
      }

      .no-credit-card-block {
        // mobile first
        margin-top: 4vw;
        font-size: 4vw;
        color: #fff;

        // desktop
        @include media-query(desktop) {
          margin-top: 1.25vw;
          font-size: 1.231rem;

          br {
            display: none;
          }
        }
      }

      a.video-btn {
        // mobile first
        @include border-radius(4px);
        display: block;
        width: 45vw;
        height: 10vw;
        line-height: 10vw;
        margin: 7.75vw auto 0;
        padding-left: 7.5vw;
        font-size: 4vw;
        color: #fff;
        text-align: center;
        background: {
          color: #e71e51;
          image: url('../images/video-btn.png');
          repeat: no-repeat;
          position: 3vw center;
          size: 5vw;
        }

        // desktop
        @include media-query(desktop) {
          width: 188px;
          height: 40px;
          line-height: 40px;
          margin-top: 2vw;
          padding-left: 2.5vw;
          font-size: 1.231rem;
          background-position: 1.75vw;
          background-size: 1.375vw;
        }

        &:hover {
          text-decoration: none;
        }
      }

    }


  }

}