.page-wrapper {

  .wiki-section {
    // mobile first
    @include box-sizing();
    width: 100%;
    margin-top: 8vw;

    // desktop
    @include media-query(desktop) {
      margin-top: 3.5vw;
    }

    .wiki-section-name {
      // mobile first
      font-size: 5vw;

      // desktop
      @include media-query(desktop) {
        font-size: 1.846rem;
      }
    }

    .wiki-section-articles-wrap {
      // mobile first
      margin-top: 5vw;

      @include media-query(desktop) {
        margin-top: 1vw;
      }

      & > * + * {
        // mobile first
        margin-top: 5vw;

        @include media-query(desktop) {
          margin-top: 1vw;
        }
      }

      .wiki-section-article {
        // mobile first
        font-size: 0.923rem;

        // desktop
        @include media-query(desktop) {
          font-size: 1.231rem;
        }

        a.wiki-section-article-name {
          // mobile first
          color: #008be6;
          font-family: "ProximaNova-SemiBold", sans-serif;
          text-decoration: none;
        }

        .wiki-text {
          // mobile first
          display: inline;
          color: #323232;
        }
      }
    }
  }

}