// The form
-
  var form = {
    'input': {
      'firstName': 'שם פרטי',           // first name
      'lastName': 'שם משפחה',           // last name
      'phoneNumber': 'טלפון סלולרי',    // phone number
      'email': 'דוא״ל',                 // email
      'city': 'עיר מגורים',             // city
      'address': 'רחוב, מס׳ בית',       // address (перевод: Улица, дом No.)
      'receiptNumber': 'מס׳ חשבונית',   // invoice number (перевод: Invoice No.)
    }
  }



form.the-form
  // first name
  label.input-label.sr-only.first-name(for="fname")= form.firstName
  input.input-field(
    type="text"
    id="fname"
    placeholder=""
  )

  // last name
  label.input-label.sr-only.last-name(for="lname")= form.lastName
  input.input-field(
    type="text"
    id="lname"
    placeholder=""
  )

  // phone number
  label.input-label.sr-only.phone-number(for="phone")= form.phoneNumber
  input.input-field(
    type="tel"
    id="phone"
    placeholder=""
  )

  // email
  label.input-label.sr-only.email(for="email")= form.email
  input.input-field(
    type="email"
    id="email"
    placeholder=""
  )