// The form
-
  var form = {
    'input': {
      'firstName': 'שם פרטי',           // first name
      'lastName': 'שם משפחה',           // last name
      'phoneNumber': 'טלפון סלולרי',    // phone number
      'email': 'דוא״ל',                 // email
      'city': 'עיר מגורים',             // city
    }
  }



form.the-form
  // first name
  label.input-label.first-name(for="fname")= form.firstName
    input.input-field(
      type="text"
      id="fname"
      placeholder=""
    )

  // last name
  label.input-label.last-name(for="lname")= form.lastName
    input.input-field(
      type="text"
      id="lname"
      placeholder=""
    )

  // phone number
  label.input-label.phone-number(for="phone")= form.phoneNumber
    input.input-field(
      type="tel"
      id="phone"
      placeholder=""
    )

  // email
  label.input-label.email(for="email")= form.email
    input.input-field(
      type="email"
      id="email"
      placeholder=""
  )



  // Submit button
  button.btn.btn__submit(type="submit")
    .flex-container
      i.icon



  // Custom checkbox
  label.checkbox-label.checkbox-name
    .checkbox-text
      .checkbox-text-link
    .checkbox-wrap
      input.native-checkbox(
        type="checkbox"
        id="checkbox-id"
      )
      .custom-checkbox